.planet1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top: 60px;
    left:-10px;
    background-color: brown;
    box-shadow: 0px 0px 10px brown;
    
    

}
.planet2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top: 0px;
    left:70px;
    background-color: red;
    box-shadow: 0px 0px 10px red;
    
    

}

.planet3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top:300px;
    left:40px;
    background: linear-gradient(96deg, rgba(66,174,174,1) 26%, rgba(131,201,109,0.5999649859943977) 80%);
    box-shadow: 0px 0px 10px;
    
    

}
.planet4{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top:450px;
    left:130px;
    background-color: #873600;
    box-shadow: 0px 0px 10px;
    
    

}
.planet5{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top:250px;
    left:-20px;
    background-color: #bcafb2;
    box-shadow: 0px 0px 10px;
    
    

}
.planet6{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top:40px;
    left:170px;
    background-color:rgb(235, 135, 215);
    box-shadow: 0px 0px 10px;
    
    

}
.planet7{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    top:40px;
    left:170px;
    background-color:skyblue;
    box-shadow: 0px 0px 10px;
    
    

}
.planet8{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    /* right: -600px; */
    background-color:skyblue;
    box-shadow: 0px 0px 10px;
    
    

}
.saturn{
    height: 20px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    top:60px;
    left:105px;
    /* background-color:skyblue; */
    box-shadow: 0px 0px 10px;
    
    

}
